  <div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>

    <div id="wrapper">
      <div id="login" class="animate form">
        <section class="login_content">
 			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <h1>Login Form</h1>
           
            <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email, class:'form-control',placeholder: "xxx@xxxx.xxx",autofocus: true %>
            </div>
            <div class="field">
            	<%= f.label :password %>
           	    <%= f.password_field :password, class:'form-control', autocomplete: "off" %>
            </div>
            <div class="action">
              <%= f.submit "Log in" %>
            </div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">              
                <a href="#toregister" > Create Account </a>
                <a href="#">Lost your password?</a>                
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Gentelella Alela!</h1>

                <p>©2015 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
	         <% end %>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
      <div id="register" class="animate form">
        <section class="login_content">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <h1>Create Account</h1>
            
			<div class="field">
			<%= f.label :email %>
			<%= f.email_field :email, class:"form-control",placeholder: "xxx@xxxx.xxx" ,autofocus: true %>
			</div>
			<div class="field">
			<%= f.label :password %>
			<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %><br />
			<%= f.password_field :password, class:"form-control", autocomplete: "off" %>
			</div>
			<div class="field">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, class:"form-control", autocomplete: "off" %>
			</div>
			<div class="actions">
			<%= f.submit "Sign up" %>
			</div>
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Already a member ?
                <a href="#tologin" class="to_register"> Log in </a>
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Xsite!</h1>

                <p>©2015 All Rights Reserved. Privacy and Terms</p>
              </div>
            </div>
         <% end %>
          <!-- form -->
        </section>
        <!-- content -->
      </div>
    </div>
  </div>
