<!-- page content -->
<div class="right_col" role="main">
	<div class="">
	    <div class="page-title">
	      <div class="title_left">
	        <h3>Plain Page</h3>
	      </div>
	
	      <div class="title_right">
	        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
	          <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search for...">
	               <span class="input-group-btn">
	                       <button class="btn btn-default" type="button">Go!</button>
	               </span>
	          </div>
	        </div>
	      </div>
	    </div>	
	    <div class="clearfix"></div>				
		<%= form_for(@product_price) do |f| %>
		  <% if @product_price.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@product_price.errors.count, "error") %> prohibited this product_price from being saved:</h2>
		
		      <ul>
		      <% @product_price.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
			<div class="row">
				  <div class="field">
				    <%= f.label :product_id %><br>
		    <%= f.collection_select :product_id, Product.all, :id, :name, prompt: true  %>
				  </div>
				  <div class="field">
				    <%= f.label :price_type %><br>
		    <%= f.text_field :price_type %>
				  </div>
				  <div class="field">
				    <%= f.label :price %><br>
		    <%= f.text_field :price %>
				  </div>
				  <div class="field">
				    <%= f.label :is_used %><br>
		    <%= f.check_box :is_used %>
				  </div>
				  <div class="field">
				    <%= f.label :target %><br>
		    <%= f.text_field :target %>
				  </div>
					</div>
			
		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
	</div>
</div>