<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @product.code %>
</p>

<p>
  <strong>Caegory:</strong>
  <%= @product.caegory %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @product.product_type %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Box count:</strong>
  <%= @product.box_count %>
</p>

<p>
  <strong>Ta count:</strong>
  <%= @product.ta_count %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @product.img_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @product.purchase %>
</p>

<p>
  <strong>Purchase tax:</strong>
  <%= @product.purchase_tax %>
</p>

<p>
  <strong>Supply:</strong>
  <%= @product.supply %>
</p>

<p>
  <strong>Supply tax:</strong>
  <%= @product.supply_tax %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
